*{
    margin: 0px;
    padding: 0px;
    font-family: Ariel, Arial, Helvetica, sans-serif;
}

.placehold{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    
}
.image{
    width: 200px;
}

.box{
    height: 240px;
    width: 400px;
    padding: 20px 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 60px auto 0px auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.box button{
    background-color: #fcc200;
    height: 25px;
}
.form{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.forgot-pass{
    margin-left: 190px;
    text-decoration: none;
}

.help{
    margin-top: 20px;
}

#field{
    margin-top: -10px;
    height: 30px;
}
.container{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgrey;
    
}

.middle-text{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    column-gap: 1rem;
}

.middle-text::before, .middle-text::after{
    content: "";
    height: 2px;
    background-color: lightgrey;
    display: block;
}

.button2{
    width: 300px;
    padding: 0px 26px;
    margin: 15px auto 40px auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.button2 button{
    background-color: #d3d3d3;
    height: 30px;
    
}


.nav ul{
    
    display: flex;
    justify-content: center;
    list-style-type: none;    

}

.nav li{
    padding: 10px;
}

.text{
    text-decoration: none;
}

p{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

